<!DOCTYPE html>
<html>
  <head>
    <title>Street View Containers</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #street-view {
        height: 100%;
      }

      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
      }

      #floating-panel {
        margin-left: -100px;
      }
      
    </style>
    <script>
      let panorama;

      function initialize() {
        panorama = new google.maps.StreetViewPanorama(
          document.getElementById("street-view"),
          {
            position: { lat: 37.86926, lng: -122.254811 },
            pov: { heading: 165, pitch: 0 },
            zoom: 1,
          }
        );
      }
    </script>
  </head>
  <body>

    <div id="floating-panel">
        <form action="/guess" method="post">
            <div class="form-group">
                <h3> What country are we in? </h3>
                <input type="text" class="form-control" name="guess" id="guess" placeholder="Country" required> 
            </div>
            <div class="form-group">
                <input type="submit" value="Guess">
            </div>
        </form>
    </div>

    <div id="street-view"></div>

    

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnQ5wOdQoFj8_lN4qqyYU7vQn6PNByFnE&callback=initialize&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>