<!DOCTYPE html>
<html>
  <head>
    <title>Street View Containers</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #street-view {
        height: 100%;
      }

      #floating-panel {
        position: absolute;
        top: 10px;
        left: 5%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: "Roboto", "sans-serif";
        line-height: 30px;
        padding-left: 10px;
        width: 15%;
        height: 15%;
      }

      #floating-panel {
        margin-left: -100px;
      }
      
    </style>
    <script>
      let score = 0;

      let panorama;
      
      var places = [
          [{ lat: 60.171001, lng: 24.939350 }, {country: 'Finland'}], // Helsinki, Finland
          [{ lat: 48.858093, lng: 2.294694 }, {country: 'France'}], // Paris, France
          [{ lat: 51.510020, lng: -0.134730 }, {country: 'England'}] // London, England
      ]
        
      let currentPlace = places[Math.floor(Math.random() * (places.length))]
      let coordinates = currentPlace[0]
      let country = currentPlace[1].country

      let reconfigure = () => { 
        currentPlace = places[Math.floor(Math.random() * (places.length))]
        coordinates = currentPlace[0]
        country = currentPlace[1].country

        initialize()
      }

      

      function guess() {
        var guess = window.prompt("Enter your name: ");
        if(guess === country) {
          score++;
          alert("Correct! Current Score: " + score);
          reconfigure()
        } else {
          score = 0
          alert("Incorrect! Current Score: " + score);
          reconfigure()
        }
        
      }

      function initialize() {
        panorama = new google.maps.StreetViewPanorama(
          document.getElementById("street-view"),
          {
            position: coordinates,
            pov: { heading: 165, pitch: 0 },
            zoom: 1,
          }
        );
      }

      
    </script>
    <script>
      
      
    </script>
  </head>
  <body>

    <div id="floating-panel">
      <button onclick="guess()">Guess</button>
    </div>

    <div id="street-view"></div>

    

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnQ5wOdQoFj8_lN4qqyYU7vQn6PNByFnE&callback=initialize&libraries=&v=weekly"
      async
    ></script>
  </body>
</html>